@charset "utf-8";

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
body,td,th {
	background-image:url('/pics/sv_bg.jpg');
	background-position:top,center;
	background-repeat:no-repeat;
	color: #000000;
}
body {
	background-color: #FFFFFF;
}
a:link {
	color: #FF9900;
}
a:visited {
	color: #FF9900;
}
a:hover {
	color: #FF9900;
}
a:active {
	color: #FF9900;
}
tabla {
background:none;
}
